<mat-toolbar class="header animated fadeIn">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    class="menu-item"
    (click)="openDialog()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title"><strong>qubik</strong> digital</span>
  <span class="example-spacer-start"></span>
  <div class="navigation-container">
    <ul>
      <li routerLink="whatwedo" routerLinkActive="active">What we do</li>
      <li>|</li>
      <li routerLink="ourwork" routerLinkActive="active">Our Work</li>
      <li>|</li>
      <li routerLink="whoweare" routerLinkActive="active">Who we are</li>
      <li>|</li>
      <li routerLink="contactus" routerLinkActive="active">Contact us</li>
    </ul>
  </div>
  <span class="example-spacer-end"></span>
</mat-toolbar>
