<section class="animated fadeIn">
  <div class="info">
    <div class="work">
      <h2>our work_</h2>
    </div>
    <div class="info-work">
      <p>
        We help our clients achieve and maintain process excellence based on our
        innovation capabilities.
      </p>
    </div>
  </div>
  <div class="carousel animated fadeIn">
    <!-- Slider main container -->
    <div class="swiper-containerx">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_sab_miller.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_musimundo.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_topper_mizuno_rueda.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-04/qubik_our_work_logos_grises_familia.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_masisa.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_belcorp.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_cepas.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_avenida.png"
              alt="slide"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-04/qubik_our_work_logos_grises_nidera.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_kaufmann_0.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_lennox_0.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_grainger_0.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_nieto.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_molinos_0.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_delverde.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_acindar.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_cempro.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide">
            <img
              class="link"
              src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_bridgestone.png"
            />
            <div class="slide-links">
              <button class="button">Manufacturing</button>
              <button class="button">Marketing</button>
              <button class="button">Sales & Services</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="view-all">
    <button class="btn">view all cases</button>
  </div>
</section>
