<section>
  <div class="info">
    <div class="work">
      <h2>our work_</h2>
    </div>
    <div class="info-work">
      <p>
        We help our clients achieve and maintain process excellence based on our
        innovation capabilities.
      </p>
    </div>
  </div>
  <div class="carousel">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="https://www.qubikdigital.com/sites/default/files/2017-05/qubik_our_work_logos_grises_kaufmann_0.png"
            alt=""
          />
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="view-all">
    <button class="btn">view all cases</button>
  </div>
</section>
