<div class="grid-container">
  <div class="grid-item first">
    <div class="info-container">
      <h3>what we do_</h3>
      <p>We delivery successful projects that provide real business value.</p>
      <button class="btn" routerLink="whatwedo">read more</button>
    </div>
  </div>
  <div class="grid-item second" routerLink="whatwedo">
    <div class="router-info">
      <h2 class="link">Commerce</h2>
      <h2 class="decoration">_</h2>
    </div>
  </div>
  <div class="grid-item third" routerLink="whatwedo">
    <div class="router-info">
      <h2 class="link">Sales & services</h2>
      <h2 class="decoration">_</h2>
    </div>
  </div>
  <div class="grid-item fourth" routerLink="whatwedo">
    <div class="router-info">
      <h2 class="link">Marketing</h2>
      <h2 class="decoration">_</h2>
    </div>
  </div>
  <div class="grid-item fifth" routerLink="whatwedo">
    <div class="router-info">
      <h2 class="link">Experiences</h2>
      <h2 class="decoration">_</h2>
    </div>
  </div>
  <div class="grid-item sixth" routerLink="whatwedo">
    <div class="router-info">
      <h2 class="link">Strategy</h2>
      <h2 class="decoration">_</h2>
    </div>
  </div>
</div>
