.grid-container {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 450px);
  .grid-item {
    cursor: pointer;
    .router-info {
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: bolder;
      margin-left: 35px;
      position: relative;
      .link {
        position: absolute;
        top: 40px;
      }
      .decoration {
        padding-top: 80%;
      }
    }
  }
  .first {
    background-color: #fff;
    .info-container {
      margin-left: 30px;
      color: #3c3c3b;
      display: flex;
      flex-direction: column;
      padding-top: 15%;
      h3 {
        text-transform: uppercase;
        font-weight: 700;
      }
      p {
        margin-top: 20px;
        max-width: 90%;
        font-size: 30px;
        font-weight: bold;
        line-height: 30px;
      }
      .btn {
        margin-top: 30px;
        width: 150px;
        height: 40px;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
      }
      .btn:hover {
        background-color: #3c3c3b;
        color: #fff;
      }
    }
  }
  .second {
    background-color: #da0dfe;
  }
  .third {
    background-color: #4457d8;
  }
  .fourth {
    background-color: #51d599;
  }
  .fifth {
    background-color: #ff6201;
  }
  .sixth {
    background-color: #e80c7a;
  }
}
