<div class="grid-container animated fadeIn">
  <div class="grid-item first">
    <div class="info-container">
      <h3>what we do_</h3>
      <p>We delivery successful projects that provide real business value.</p>
      <button class="btn" routerLink="whatwedo">read more</button>
    </div>
  </div>
  <div class="grid-item second" routerLink="whatwedo" id="commerce-container">
    <div class="router-info">
      <h2 class="link">Commerce</h2>
      <div class="router-icon animated fadeIn" id="commerce">
        <img src="assets/icons/shopping-basket-solid.svg" alt="logo" />
        <p class="text">
          We design and build fkexible and scalable solutions based on leadign
          ecommerce platforms: SAP Commerce, Workarea, Oro Commerce, Demandware
          and Magento.
        </p>
      </div>
      <!-- <h2 class="decoration">_</h2> -->
    </div>
  </div>

  <div class="grid-item third" routerLink="whatwedo" id="sales-container">
    <div class="router-info">
      <h2 class="link">Sales & services</h2>
      <div class="router-icon animated fadeIn" id="sales">
        <img src="assets/icons/shopping-basket-solid.svg" alt="logo" />
        <p class="text">
          Sales Force Automation, Sales Perfomance Management, Retail Execution,
          Comphrehensive Self-Service, and Service Anytime Anywhere.
        </p>
      </div>
      <!-- <h2 class="decoration">_</h2> -->
    </div>
  </div>
  <div class="grid-item fourth" routerLink="whatwedo" id="marketing-container">
    <div class="router-info">
      <h2 class="link">Marketing</h2>
      <div class="router-icon animated fadeIn" id="marketing">
        <img src="assets/icons/shopping-basket-solid.svg" alt="logo" />
        <p class="text">
          Customer Profiling and Segmentation, Campaign Management and
          Automation, Loyalty and Advocaty, Analytics. You name it, we deliver.
        </p>
      </div>

      <!-- <h2 class="decoration">_</h2> -->
    </div>
  </div>
  <div class="grid-item fifth" routerLink="whatwedo" id="experiences-container">
    <div class="router-info">
      <h2 class="link">Experiences</h2>
      <div class="router-icon animated fadeIn" id="experiences">
        <img src="assets/icons/shopping-basket-solid.svg" alt="logo" />
        <p class="text">
          A series of activities to create a feel of how your ideas and products
          will ultimately be consumed.
        </p>
      </div>
      <!-- <h2 class="decoration">_</h2> -->
    </div>
  </div>
  <div class="grid-item sixth" routerLink="whatwedo" id="strategy-container">
    <div class="router-info">
      <h2 class="link">Strategy</h2>
      <div class="router-icon animated fadeIn" id="strategy">
        <img src="assets/icons/shopping-basket-solid.svg" alt="logo" />
        <p class="text">Build the foundation for your long-term success.</p>
      </div>
      <!-- <h2 class="decoration">_</h2> -->
    </div>
  </div>
</div>
