<!-- Slider main container -->
<div class="swiper-container animated fadeIn">
  <div class="swiper-wrapper" effect="fade">
    <div class="swiper-slide first-slide">
      <div class="swiper-info">
        <h2 class="main-info">52% of retail sales influenced by online</h2>
        <p class="second-info">
          Check out what Topper, Rueda and Mizuno are doing to boost their
          online sales.
        </p>
      </div>
    </div>

    <div class="swiper-slide second-slide">
      <div class="swiper-info">
        <h2 class="main-info">
          mobile makes up 35% of health and beauty online transactions.
        </h2>
        <p class="second-info">
          Belcorp runs SAP Commerce Cloud in order to boost ther online sales
          whith a mobile optimized site.
        </p>
      </div>
    </div>

    <div class="swiper-slide third-slide">
      <div class="swiper-info">
        <h2 class="main-info">your digital partner of choice.</h2>
        <p class="second-info">
          From strategy to develpoment we make your ecommerce project a succes
        </p>
      </div>
    </div>

    <div class="swiper-slide fourth-slide">
      <div class="swiper-info">
        <h2 class="main-info">ecommerce maniacs</h2>
        <p class="second-info">
          Allow shopping enthusiasts to shop at their convenience.
        </p>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>
