/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #333;
}

mat-dialog-container {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
