/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #333;
}

mat-dialog-container {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

//Animation
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.link {
  cursor: pointer;
}

//Media Queries
@media (min-width: 1439px) {
  .header {
    .example-spacer-start {
      width: 600px !important;
    }
    .example-spacer-end {
      width: 500px !important;
    }
  }
}

@media (min-width: 1023px) and (max-width: 3460px) {
  #accordion {
    display: none !important;
  }
  .header {
    .example-spacer-start {
      width: 300px !important;
    }
    .example-spacer-end {
      width: 300px !important;
    }
  }

  .grid-container {
    min-height: 450px !important;
    .grid-item {
      height: 300px;
      .router-info {
        .link {
          font-size: 22px;
        }
        .router-icon {
          img {
            max-width: 80px !important;
            max-height: 80px !important;
          }
        }
        .text {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  #accordion {
    display: none !important;
  }

  .header {
    .example-spacer-start {
      width: 100px !important;
    }
    .example-spacer-end {
      width: 100px !important;
    }
  }
  .swiper-container {
    max-height: 200px;
    padding-top: 0px;
    .swiper-wrapper {
      .swiper-info {
        padding-top: 0px !important;
        .main-info {
          font-size: 28px;
          line-height: 1.1;
          margin-top: 0;
        }
        .second-info {
          font-size: 16px !important;
        }
      }
    }
    .mat-expansion-panel {
      display: none;
    }
  }

  .grid-container {
    height: auto;
    width: 100% !important;
    .first {
      .info-container {
        p {
          font-size: 20px !important;
          line-height: 21px !important;
        }
      }
    }
    .grid-item {
      height: 300px;
      .router-info {
        .link {
          font-size: 18px;
        }
        .router-icon {
          img {
            max-width: 60px !important;
            max-height: 60px !important;
          }
        }
        .text {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 319px) and (max-width: 767px) {
  .find-us-container {
    display: none !important;
  }
  .modal {
    min-height: 70vh;
  }
  .header {
    .title {
      font-size: 20px !important;
    }
  }
  .swiper-container {
    max-height: 200px;
    padding-top: 0px;
    .swiper-wrapper {
      .swiper-info {
        padding-top: 0px !important;
        .main-info {
          font-size: 20px;
          line-height: 1.1;
          margin-top: 0;
        }
        .second-info {
          display: none;
        }
      }
    }
  }

  .grid-container {
    height: auto;
    width: 100% !important;

    .info-container {
      margin: 0 !important;
    }

    .first {
      margin: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      .info-container {
        margin: 0 !important;
        p {
          display: none;
        }
        .btn {
          max-height: 50px !important;
          max-width: 100px !important;
          font-size: 12px !important;
        }
      }
    }

    .grid-item {
      height: 150px;
      .router-info {
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        .link {
          font-size: 16px;
          text-align: center;
        }
        .router-icon {
          img {
            display: none;
          }
        }
        .text {
          display: none;
        }
      }
    }
  }

  .info {
    display: flex !important;
    justify-content: center;
    align-items: center;
    .info-work {
      display: none;
    }
  }

  .more-info {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    .info-who {
      .we-are {
        font-size: 17px !important;
        line-height: 19px !important;
        padding-left: 15px !important;
      }
      .founded {
        font-size: 15px !important;
        line-height: 24px !important;
        padding-left: 15px !important;
        margin-bottom: 90px !important;
      }
    }
    .who {
      padding: 0 !important;
      .button {
        padding-left: 15px !important;
      }
      .efficientrly {
        margin-left: 35px;
        font-size: 36px !important;
        line-height: 37px !important;
      }
      h3 {
        margin-left: 40px;
      }
    }
  }
}
