.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel {
  background-color: #3c3c3b;
  color: white;
  border-top: 1px solid #878787;
}
.mat-expansion-indicator {
  background-color: #3c3c3b;
}

.mat-expansion-panel-header-title {
  color: white;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.title {
  letter-spacing: 3px;
}
