<div class="more-info">
  <div class="who">
    <h3>WHO WE ARE_</h3>
    <h2 class="efficientrly">WE’RE EFFICIENTLY COOL.</h2>
    <button class="button">Read More</button>
  </div>
  <div class="info-who">
    <h5 class="we-are">
      We deliver high-impact solutions that add real business value. Innovation,
      dynamism and flexibility are in our DNA.
    </h5>
    <p class="founded">
      Founded back in 2009, QUBIK brings experience and innovation capabilities
      to every project, combined with a deep understanding of customers
      processes. This mix guarantees that the implemented solution is the most
      appropriate for their business and their specific needs.
    </p>
  </div>
</div>
